.hr-line-dashed {
  border-top: 1px dashed var(--bs-border-color);
  color: var(--bs-white);
  background-color: var(--bs-white);
  height: 1px;
  margin: 20px 0;
}

.hr-line-solid {
  border-bottom: 1px solid var(--bs-border-color);
  background-color: rgba(0, 0, 0, 0);
  margin-top: 15px;
  margin-bottom: 15px;
}
